h1 {
    color: palevioletred;
    font-weight: bold;
    font-size: 24px;
}
h2 {
    background-color: violet;
}
h3 {
    color: violet;
    font-size: 15px;
    font-weight: lighter;
}

p {
    background-color: lightblue;
    font-weight: bold;
    color: gray;
}

article {
    color: deeppink;
    background-color: lightblue;
    font-size: 18px;
}